Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the 
location” field.
3. Then click the searchbutton.
4. Then scrape the data for the first 10 jobs results youget.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
import selenium as sm
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
# Now connection to the driver which is available in this folder of my laptop
driver = webdriver.Chrome(r"D:\Uday Shankar's Data\Softwares\chromedriver_win32\chromedriver.exe")

In [3]:
# Now opening the naukri.com website in a new window
driver.get("https://www.naukri.com/")

In [8]:
designation_first = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation_first.send_keys("Data Scientist")

In [9]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [10]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()
time.sleep(4)

In [11]:
start = 0
end = 10
job_titles = []
job_locations = []
company_name = []

In [12]:
title = driver.find_elements(By.XPATH, "//a[@class='title ellipsis']")

for i in title[start:end]:
    job_titles.append(i.text)
    
job_titles

['Data Science Specialist',
 'Analystics & Modeling Specialist',
 'Data Scientist',
 'Data Scientist',
 'Expert Data Scientist',
 'Lead Data Scientist',
 'Senior Manager-Data Science',
 'Senior Director/Head - Data Science & Analytics',
 'Data Scientist Staff',
 'Senior Data Science and Analytics Strategy Consultant']

In [13]:
location = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft locWdth']")

for i in location[start:end]:
    job_locations.append(i.text)
    
job_locations

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
company = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")

for i in company[start:end]:
    company_name.append(i.text)
    
company_name

['Accenture',
 'Accenture',
 'Cognizant',
 'Capgemini',
 'UPL Limited',
 'Birlasoft',
 'AMERICAN EXPRESS',
 'Vertex Corporate',
 'Juniper Networks',
 'Wells Fargo']

In [15]:
all_data = pd.DataFrame({'Job Title':job_titles, 'Job Location':job_locations, 'Company Name':company_name})
all_data

,Job Title,Job Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
4,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
5,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
6,Senior Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
7,Senior Director/Head - Data Science & Analytics,"Bangalore/Bengaluru, Pune, Chennai",Vertex Corporate
8,Data Scientist Staff,Bangalore/Bengaluru,Juniper Networks
9,Senior Data Science and Analytics Strategy Con...,Bangalore/Bengaluru,Wells Fargo

In [ ]:
all_data.to_csv("data_scientist_jobs_in_bangalore.csv", header=False, index=False)