In [1]:
pip install selenium

Collecting selenium
  Downloading selenium-4.8.0-py3-none-any.whl (6.3 MB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\shank\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\shank\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: pycparser in c:\users\shank\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\shank\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.8.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
import selenium as sm
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we have to download the webdriver of the same version which is in our chrome version otherwise it will not work

In [25]:
# Now connection to the driver which is available in this folder of my laptop
driver = webdriver.Chrome(r"D:\Uday Shankar's Data\Softwares\chromedriver_win32\chromedriver.exe")

In [26]:
# Now opening the naukri.com website in a new window
driver.get("https://www.naukri.com/")

In [27]:
designation_first = driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation_first.send_keys("Python")

In [28]:
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi")

In [29]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [37]:
start = 
job_titles = []
job_locations = []
company_name = []
experience_required = []

In [38]:
title = driver.find_elements(By.XPATH, "//a[@class='title ellipsis']")
end = len(title)

for i in title[start:end]:
    job_titles.append(i.text)
    
job_titles

['Senior Python Developer',
 'Python/Java/Golang -Developer',
 'Tech Mahindra is Hiring For Python Developer',
 'Python Software Developer',
 'Python Developer - Django/Data Structure',
 'Python Software Developer',
 'Sr Python Developer',
 'Python Software Developer',
 'Python Software Developer',
 'Tcs is Hiring Python Developers For PAN India',
 'Python Developers',
 'Sr. Data Analyst (Python/SQL/Analytics)',
 'Python/Data Science Developer',
 'Senior Full Stack Developer - Python / JavaScript',
 'Senior Python Developer',
 'Data Engineer- Python',
 'Python Developer',
 'Python Developer / Machine Learning Engineer',
 'Big Data Developer - Scala/ Python',
 'Full Stack Developer - SQL/Python/Javascript']

In [39]:
location = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft locWdth']")
end = len(location)

for i in location[start:end]:
    job_locations.append(i.text)
    
job_locations

['Noida, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Hybrid - Noida',
 'Noida(Sector-125 Noida)',
 'Noida, Gurgaon/Gurugram, Greater Noida, Punjab, Delhi NCR',
 'Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Noida, Chennai, Bangalore/Bengaluru',
 'Temp. WFH - Delhi / NCR, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Delhi / NCR, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru',
 'Hybrid - Noida, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hybrid - Delhi / NCR, Gurgaon/Gurugram',
 'Permanent Remote',
 'Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Delhi / NCR, Gurgaon/Gurugram']

In [40]:
company = driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
end = len(company)

for i in company[start:end]:
    company_name.append(i.text)
    
company_name

['Genpact',
 'Ciena',
 'Tech Mahindra',
 'Corbus',
 'Appscrip',
 'HCLTech',
 'Megma Services',
 'Advance Career Solutions',
 'Screatives Software Services',
 'Tata Consultancy Services (TCS)',
 'HCLTech',
 'Groundtruth',
 'TRH Consultancy Services',
 'Datatobiz',
 'HCLTech',
 'Gigmo Solutions',
 'Megma Services',
 'Huquo Consulting Pvt. Ltd',
 'Huquo Consulting',
 'Huquo Consulting Pvt. Ltd']

In [41]:
experience = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft expwdth']")
end = len(experience)

for i in experience[start:end]:
    experience_required.append(i.text)
    
experience_required

['7-12 Yrs',
 '2-3 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '0-1 Yrs',
 '4-7 Yrs',
 '3-8 Yrs',
 '9-12 Yrs',
 '7-9 Yrs',
 '2-6 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '3-8 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '4-9 Yrs']

In [42]:
all_data = pd.DataFrame({'Job Title':job_titles, 'Job Location':job_locations, 'Company Name':company_name, 'Experience Required':experience_required})
all_data

,Job Title,Job Location,Company Name,Experience Required
0,Senior Python Developer,"Noida, Bangalore/Bengaluru",Genpact,7-12 Yrs
1,Python/Java/Golang -Developer,Gurgaon/Gurugram,Ciena,2-3 Yrs
2,Tech Mahindra is Hiring For Python Developer,Hybrid - Noida,Tech Mahindra,3-8 Yrs
3,Python Software Developer,Noida(Sector-125 Noida),Corbus,4-8 Yrs
4,Python Developer - Django/Data Structure,"Noida, Gurgaon/Gurugram, Greater Noida, Punjab...",Appscrip,0-1 Yrs
5,Python Software Developer,"Noida, Hyderabad/Secunderabad, Pune, Chennai, ...",HCLTech,4-7 Yrs
6,Sr Python Developer,"Noida, Gurgaon/Gurugram",Megma Services,3-8 Yrs
7,Python Software Developer,"Gurgaon/Gurugram, Bangalore/Bengaluru",Advance Career Solutions,9-12 Yrs
8,Python Software Developer,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Screatives Software Services,7-9 Yrs
9,Tcs is Hiring Python Developers For PAN India,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Tata Consultancy Services (TCS),2-6 Yrs
10,Python Developers,"Noida, Chennai, Bangalore/Bengaluru",HCLTech,5-10 Yrs
11,Sr. Data Analyst (Python/SQL/Analytics),"Temp. WFH - Delhi / NCR, Hyderabad/Secunderaba...",Groundtruth,4-7 Yrs
12,Python/Data Science Developer,"Delhi / NCR, Mumbai, Hyderabad/Secunderabad, P...",TRH Consultancy Services,5-10 Yrs
13,Senior Full Stack Developer - Python / JavaScript,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Datatobiz,5-10 Yrs
14,Senior Python Developer,"Hybrid - Noida, Hyderabad/Secunderabad, Pune, ...",HCLTech,5-9 Yrs
15,Data Engineer- Python,"Hybrid - Delhi / NCR, Gurgaon/Gurugram",Gigmo Solutions,3-8 Yrs
16,Python Developer,Permanent Remote,Megma Services,1-4 Yrs
17,Python Developer / Machine Learning Engineer,Gurgaon/Gurugram,Huquo Consulting Pvt. Ltd,2-7 Yrs
18,Big Data Developer - Scala/ Python,"Delhi / NCR, Gurgaon/Gurugram",Huquo Consulting,2-7 Yrs
19,Full Stack Developer - SQL/Python/Javascript,"Delhi / NCR, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,4-9 Yrs

In [43]:
all_data.to_csv("selenium_naukri_dot_com_data.csv", header=True, index=False)